{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
</head>
<body>

    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="400">
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 300px;">
{% else %}
    <p>No image available</p>
{% endif %}
    <a href="{% url 'home' %}">Back to Home</a>

</body>
</html>
